<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">      
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/games.js"></script>
        <link href="/css/details.css" rel="stylesheet">
        <script>$(function(){
          $("#navbar").load("/static/navbar.html");
          });</script>
    </head>

 
    <body class="Font">
      <div class="jumbotron Homepage">
        <h1> {{name}} </h1>
         <input type="hidden" id="gameId" value={{id}}><!--here-->
      </div>
          
      <div class="container quiz">
        <center>    
        
       {{#each play}}
          
          <h2 style="color: #FFF; font-size: 24px">{{question}}</h2>
          <div class="extra">
          {{#if image}}
          <img style="width: 80%" src={{image}}>
          {{else}}
          <figure>
           <figcaption>Listen to the Note:</figcaption>
           <audio controls="controls"> <source src={{audio}} type="audio/mp3">
          </audio>
          </figure>
          {{/if}}
          </div>
          <br>
          <br>
          <div>
           <button class="btn quiz-button g" id="1"  style="device-width">{{option1}}</button>
           <br>
           <br>
           <button class="btn quiz-button g" id="2" style="device-width">{{option2}}</button>
           <br>
           <br>
           <button class="btn quiz-button g" id="3" style="device-width">{{option3}}</button>
           <br>
           <br>
           <button class="btn quiz-button g" id="4" style="device-width">{{option4}}</button>
           </div>
           <br>
           <br>
           <br>
          {{/each}}

          <p class="score">0</p>
          
          <a href="../../../leaderboard">
          <!--<button class="btn quiz-button">-->
            <input type="submit" id="submitBtn" class="btn quiz-button" value="End Game"></input></a>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
        </center>
      </div>
   


 <!-- navigation bar inspired by a UM Tutorial-->
     <div id="navbar"></div>

  </body>
</html>