<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">      
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/games.js"></script>
        <link href="/css/details.css" rel="stylesheet">
    </head>

 
    <body class="Font">
      <div class="jumbotron Homepage">
        <h1> {{name}} </h1>
        <p style="color: #FFF; font-size: 24px" class="score">Score: 0</p>
        <!-- Code to track score inspired by this stack overflow question 
        https://stackoverflow.com/questions/37083175/how-to-use-javascript-to-keep-a-running-score-on-multiple-choice -->
         <input type="hidden" id="gameId" value={{id}}>
      </div>
          
      <div class="container quiz">
        <center>    

         
       {{#each play}}
          
          <h2 style="color: #FFF; font-size: 24px">{{question}}</h2>
          <div class="extra">
          {{#if image}}
          <img style="width: 80%" src={{image}}>
          {{else}}
          <figure>
           <figcaption>Listen to the Note:</figcaption>
           <audio controls="controls"> <source src={{audio}} type="audio/mp3">
          </audio>
          </figure>
          {{/if}}
          </div>
          <br>
          <br>
          <br>
          <br>
            <div class="btn-toolbar">
           <button class="btn quiz-button2 g" id="1"  style="device-width; margin-left: 15px; margin-right: 15px">{{option1}}</button>
           <button class="btn quiz-button2 g" id="2" style="device-width; margin-left: 15px; margin-right: 15px">{{option2}}</button>
            </div>
           <br>
           <br>
            <div class="btn-toolbar">
           <button class="btn quiz-button2 g" id="3" style="device-width; margin-left: 15px; margin-right: 15px">{{option3}}</button>
           <button class="btn quiz-button2 g" id="4" style="device-width; margin-left: 15px; margin-right: 15px">{{option4}}</button>
            </div>
           
           <br>
           <br>
           <br>
           <br>
          {{/each}}

         
          
          <a href="../../../leaderboard">
          <!--<button class="btn quiz-button">-->
            <input type="submit" id="submitBtn" class="btn quiz-button" value="End Game"></input></a>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
        </center>
      </div>
   


 <!-- Required for this page due to URLs-->
     <div class ="tab-container">
      <div class="tab purple active">
        <a href="../../../homepage"><i class="fas fa-home fa-3x" style="color: #1BC47D"></i></a>
          <p></p>
      </div>
      <div class="tab pink">
        <a href="../../../modules"><i class="fas fa-book-open fa-3x" style="color: #1BC47D"></i></a>
          <p></p>
      </div>
      <div class="tab yellow">
        <a href="../../../games"><i class="fas fa-gamepad fa-3x" style="color: #1BC47D"></i></a>
          <p></p>
      </div>
      <div class="tab teal">
       <a href="../../../prize"><i class="fas fa-trophy fa-3x" style="color: #1BC47D"></i></a>
          <p></p>
      </div>
    </div>

  </body>
</html>