<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">      
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <!-- linked js file -->
        <script src="/js/quizFeedback.js"></script>
        <link href="/css/details.css" rel="stylesheet">
    </head>

 
    <body class="Font Homepage">

      <div class="jumbotron"> 
          <h1 style="font-size: 32px"> {{title}} Quiz </h1>
          <input type="hidden" id="quizId" value={{id}}>
          <h3> <!-- ideally: Question --/3 here--> </h3>
      </div>

      <div class="container quiz">
        <center> 
       
          <!-- need help here -->
          <h3 style="color: #FFF"> Read each question and select 1 answer. Once all answers are selected click 'Submit Quiz'</h1>
          <hr>
          {{#each quiz}}
          <div>
          <h2 style="color: #FFF; font-size: 18px; width: 80%"> {{question}}</h2>
           <button class="q btn quiz-button" style="device-width">{{option1}}</button>
           <br>
           <br>
           <button class="q btn quiz-button">{{option2}}</button>
           <br>
           <br>
           <button class="q btn quiz-button">{{option3}}</button>
           <br>
           <br>
           <button class="q btn quiz-button">{{option4}}</button>
           </div>
           <br>
           <br>
           <br>
           <br>
          {{/each}}
          
          <a href="../../../quizResults">
          <button class="btn quiz-button">Submit Quiz</button></a>
         <br>
         <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
           <br>
          
        </center>
      </div>
       
      <div style="display:none" class="qscore">0</div>
 
      <!-- Required for this page due to URLs-->
     <div class ="tab-container">
      <div class="tab purple active">
        <a href="../../../homepage"><i class="fas fa-home fa-3x" style="color: #1BC47D"></i></a>
          <p></p>
      </div>
      <div class="tab pink">
        <a href="../../../modules"><i class="fas fa-book-open fa-3x" style="color: #1BC47D"></i></a>
          <p></p>
      </div>
      <div class="tab yellow">
        <a href="../../../games"><i class="fas fa-gamepad fa-3x" style="color: #1BC47D"></i></a>
          <p></p>
      </div>
      <div class="tab teal">
       <a href="../../../prize"><i class="fas fa-trophy fa-3x" style="color: #1BC47D"></i></a>
          <p></p>
      </div>
    </div>

  </body>
</html>